<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StuManage1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchStudentsServlet</display-name>
    <servlet-name>SearchStudentsServlet</servlet-name>
    <servlet-class>com.jyq.servlet.SearchStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentsServlet</servlet-name>
    <url-pattern>/SearchStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.jyq.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStuServlet</display-name>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>com.jyq.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/DeleteStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.jyq.servlet.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.jyq.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeSearchStudentsServlet</display-name>
    <servlet-name>LikeSearchStudentsServlet</servlet-name>
    <servlet-class>com.jyq.servlet.LikeSearchStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeSearchStudentsServlet</servlet-name>
    <url-pattern>/LikeSearchStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentsPageServlet</display-name>
    <servlet-name>SearchStudentsPageServlet</servlet-name>
    <servlet-class>com.jyq.servlet.SearchStudentsPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentsPageServlet</servlet-name>
    <url-pattern>/SearchStudentsPageServlet</url-pattern>
  </servlet-mapping>
</web-app>